@import '../../globals.scss';

.board-cell {
  position: relative;
  border: solid 1px white;

  &[dataset-state='ship'] {
    background: rgb(100, 255, 113);
  }

  &[dataset-state='hit'] {
    background: #f00;
  }

  &[dataset-state='miss'] {
    background: #00f;
  }

  &[dataset-state='unknown'][dataset-interactable='true']:hover {
    filter: brightness(125%);
  }

  &[dataset-selected='true'] {
    background: orange;
  }

  &[dataset-selected='invalid'] {
    background: rgb(255, 38, 0);
  }

  &[dataset-interactable='true']:hover::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
