.board-cell {
  background: rgb(55, 197, 183);

  &[dataset-state='hit'] {
    background: #f00;
  }

  &[dataset-state='miss'] {
    background: #00f;
  }

  &[dataset-state='unknown'][dataset-interactable='true']:hover {
    background: rgb(77, 255, 237);
  }
}
