@import 'globals';

@mixin grid-layout() {
  display: grid;
  grid-auto-rows: max-content;
  justify-content: center;
  justify-items: center;
  gap: 4rem;

  min-height: 100%;
}

.background {
  @include grid-layout;

  align-content: center;

  min-width: 100vw;
  min-height: 100vh;
  min-width: 100dvw;
  min-height: 100dvh;

  background: radial-gradient($bg-radial-light, $bg-radial-dark 80%);
  border: solid calc(1vmin + 0.5rem) #9b8d4e;
}

.layout-header {
  font-size: calc(10vmin + 1rem);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-top: 5vh;
}

.main-layout {
  @include grid-layout;

  form {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;

    .input-wrapper {
      display: grid;
      gap: 1rem;

      label {
        font-size: 2rem;
        text-align: center;
      }

      input {
        background: $green;
        border: none;
        height: 2rem;
        padding: 0.25rem;
        font-size: 1rem;

        &:hover,
        &:focus-visible {
          background: $light-green;
          outline: transparent;
        }
      }
    }

    span {
      text-align: center;
      display: none;
    }

    button {
      @include btn();
    }
  }
}

.deployment-layout {
  @include grid-layout;
  align-content: center;
  gap: 1rem;

  .layout-header {
    font-size: 5rem;
    margin: 0;
  }

  .player-info-container {
    display: grid;
  }

  .directions-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;

    width: 60lvmin;
  }

  .rotation-icons-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;

    img {
      width: 1rem;
      cursor: pointer;
    }
  }

  .deployment-btns-container {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    grid-auto-columns: 1fr;
  }

  button {
    @include btn;
  }
}

.game-layout {
  @include grid-layout();
  gap: 2rem;

  .info-display {
    border-bottom: dashed 4px $text-color;
    padding: 0.5rem;
  }
}

.boards-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
