$darkest-green: #031b00;
$dark-green: #172215;
$green: #003d0a;
$light-green: #004e0d;
$lighter-green: #00ff29;

$bg-radial-dark: $darkest-green;
$bg-radial-light: $dark-green;
$text-color: $lighter-green;

@mixin btn() {
  border: none;
  background: $green;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    background: $light-green;
  }
}
